/* Estilização geral */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #f4f4f9; /* Fundo claro */
  color: #333; /* Texto escuro */
}

/* Barra lateral */
.sidebar {
  width: 250px;
  background-color: #012a4a; /* Azul escuro */
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  font-size: 1.8em;
  margin: 0 0 20px 0;
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar nav ul li a:hover {
  background-color: #01497c; /* Azul mais claro */
}

/* Conteúdo principal */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#sobre {
  text-align: center;
}

#sobre p {
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 1.6;
}

#map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  flex: 1;
  width: 100%;
  height: 500px;
  border: 2px solid #012a4a; /* Azul escuro */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Contato */
#contato {
  text-align: center;
}

#contato h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

#contato ul {
  list-style: none;
  padding: 0;
}

#contato ul li {
  margin: 5px 0;
}

#contato ul li a {
  color: #012a4a; /* Azul escuro */
  text-decoration: none;
  font-weight: bold;
}

#contato ul li a:hover {
  text-decoration: underline;
}

/* Rodapé */
footer {
  background-color: #012a4a; /* Azul escuro */
  color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer a {
  color: #4fc3f7; /* Azul claro */
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

#creditos {
  margin-top: 10px;
  font-size: 0.9em;
}

/* Estilo para a legenda */
.legend {
  background-color: white;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.5;
  max-width: 200px;
}

/* Responsividade */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar h1 {
    font-size: 1.5em;
  }

  #map {
    height: 300px;
  }
}